.rooms_container {
  height: 150px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  overflow-y: scroll;
  gap: 10px;
  border-bottom: 1px solid #c9c7c7;

  .roomAdd__card {
    width: 200px;
    height: 80%;
    background-color: rgb(255, 254, 254);
    border: 3px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
 
}
